@model List<DINTEIOT.Models.Account.Account>
@{
    DINTEIOT.Models.Account.AccountFilter accountFilter = new DINTEIOT.Models.Account.AccountFilter();
    if (TempData["OptionFilter"] != null)
    {
        accountFilter = Newtonsoft.Json.JsonConvert.DeserializeObject<DINTEIOT.Models.Account.AccountFilter>((string)TempData["OptionFilter"]);
        TempData.Keep();
    }
}
<link href="~/function/Account/css/index.css" rel="stylesheet" />
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Quản lý người dùng</h1>
            @*<input class="form-control search inputfilter" type="search" placeholder="Nhập và nhấn Enter để tìm kiếm" aria-label="Search" data-width="250" style="" id="txtsearch" value="@OptionFilter.txtsearch">*@
            <div class="section-header-breadcrumb">
                <ul class="nav nav-pills active">
                    <li class="nav-item">
                        <a data-toggle="modal" data-target="" class="nav-link " href="#" onclick="ShowCreateaccount()">
                            <i class="fas fa-plus" data-placement="bottom"></i> Thêm mới
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <select class="form-control selectfilter inputfilter" placeholder="Chọn đơn vị" id="OrganIDfilter" style="">
                                @if (ViewBag.CoQuan.Count > 0)
                                {
                                    <option class="l1" value="0">Tất cả</option>
                                    @foreach (var item in ViewBag.CoQuan)
                                    {
                                        @if (accountFilter.organID == item.id)
                                        {
                                            <option class="l1" value="@item.id" selected>@item.title</option>
                                        }
                                        else
                                        {
                                            <option class="l1" value="@item.id">@item.title</option>
                                        }

                                    }
                                }
                            </select>
                            <form class="card-header-form">
                                <input class="form-control search inputfilter" type="search" placeholder="Nhập và nhấn Enter để tìm kiếm" aria-label="Search" data-width="250" style="" id="txtsearch" value="@accountFilter.txtsearch">
                            </form>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-md">
                                    <tr>
                                        <th>Họ tên</th>
                                        <th>Tên đăng nhập</th>
                                        <th>Đơn vị</th>
                                        <th style="text-align:center">Trạng thái</th>
                                        <th></th>
                                        <th style="width:3%"></th>
                                    </tr>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.fullName</td>
                                            <td>@item.username</td>
                                            <td>@item.organ.organname</td>
                                            @if (item.status == 1)
                                            {
                                                <td style="text-align:center"><div class="badge badge-success">Hoạt động</div></td>
                                            }
                                            else
                                            {
                                                <td style="text-align:center"><div class="badge badge-danger">Đã khóa</div></td>
                                            }
                                            <td style="text-align:center">
                                                <button class="btn btn-icon" id="" onclick="ShowEditaccount(@item.accountID)" data-toggle="tooltip" data-placement="bottom" data-original-title="Sửa người dùng">
                                                    <i class="far fa-edit">
                                                    </i>
                                                </button>
                                                <button onclick="Delete(@item.accountID)"  data-toggle="tooltip" data-placement="bottom" data-original-title="Xóa người dùng" href="" class="btn btn-icon" style="margin-left:5px" id="">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                            @if (item.status == 1)
                                            {
                                                <td style="text-align:center">
                                                    <label class="">
                                                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" onclick="SetAccountStatus(@item.accountID)" id="ck_@item.accountID" checked>
                                                        <span class="custom-switch-indicator" data-toggle="tooltip" data-placement="bottom" data-original-title="Mở khóa hoặc khóa người dùng"></span>
                                                    </label>
                                                </td>
                                            }
                                            else
                                            {
                                                <td style="text-align:center">
                                                    <label class="">
                                                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" onclick="SetAccountStatus(@item.accountID)" id="ck_@item.accountID">
                                                        <span class="custom-switch-indicator" data-toggle="tooltip" data-placement="bottom" data-original-title="Mở khóa hoặc khóa người dùng"></span>
                                                    </label>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            @{ Html.RenderPartial("~/Views/Shared/_Pagination.cshtml"); }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!--modal thêm mới,sửa-->
<div class="modal fade" role="dialog" id="ModalAddorEditNguoiDung">
    <div class="modal-dialog" role="document" style="height: inherit; ">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card">
                    <form class="" novalidate="">
                        <input value="" id="accountID" style="display:none" />
                        <div class="card-header card-header-modal">
                            <h4 id="Accountmodaltitle"></h4>
                        </div>
                        <div class="card-body" style=" margin-left: -40px;">
                            <div class="form-group">
                                <label>Tên tài khoản<b style="color:red">*</b></label>
                                <input type="text" class="form-control" required="" id="userName">
                            </div>
                            <div class="form-group">
                                <label>Họ tên<b style="color:red">*</b></label>
                                <input type="text" class="form-control" required="" id="fullName">
                            </div>
                            <div class="form-group">
                                <label>Thuộc đơn vị</label>
                                <select id="selectparentid" style="width:8em" class="" data-placeholder="Chọn đơn vị">
                                    <option value="" class=""></option>
                                    @if (ViewBag.CoQuan.Count > 0)
                                    {
                                        @foreach (var item in ViewBag.CoQuan)
                                        {
                                            @if (item.displaynumber == "l1")
                                            {
                                                <option value="@item.id" class="l1 non-leaf">@item.title</option>
                                            }
                                            else
                                            {
                                                <option value="@item.id" data-pup="@item.parentid" class="@(item.displaynumber)">@item.title</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Điện thoại</label>
                                <input type="text" class="form-control" id="phoneNumber">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" id="email">
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <button class="btn btn-primary" id="btnsavenguoidung" onclick="">Lưu</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#selectparentid").select2ToTree();
    accountindex.accountindex_init();
</script>

